.toolbar {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #edeef0;
    -webkit-box-shadow: 0px 17px 20px 9px rgba(30, 32, 34, 0.2);
    -moz-box-shadow: 0px 17px 20px 9px rgba(30, 32, 34, 0.2);
    box-shadow: 0px 17px 20px 9px rgba(30, 32, 34, 0.2);
    align-items: center;
    z-index: 2;
}

.toolbar-btn {
    flex: 1 1 auto;
    border-radius: 8px;
    border: none;
    height: 100%;
    cursor: pointer;    
}

.toolbar-btn:hover {
   color:  rgba(118, 195, 243, 0.49)
}; 

